body {
  position: center;
  width: 100%;
  margin: 0;
  background-image: url(images/669303.png);
  background-repeat: no-repeat;
  /* Evita a repetição da imagem */
  background-size: cover;
  /* Ajusta a imagem para cobrir todo o corpo */
  background-position: center center;
  /* Centraliza a imagem */
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* Centraliza os itens verticalmente */
}

.titulo {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Press Start 2P', sans-serif;
  color: #c07d01d3;
  letter-spacing: 0.2rem;
  position: relative;
  z-index: 1;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 0 auto; /* Centraliza horizontalmente */
  font-size: 150%;
  /* Remova height e width fixos */
  max-width: 80%; /* Define uma largura máxima opcional */

  @media (max-width: 768px) {
    width: 100%;
  }
}

/* Estiliza o corpo da página */
main {
  font-family: "Poppins", sans-serif;
  /* Define a fonte padrão */
  display: flex;
  /* Usa Flexbox para layout */
  flex-direction: column;
  /* Alinha os itens na vertical */
  align-items: center;
  /* Centraliza os itens horizontalmente */
  justify-content: flex-start;
  /* Centraliza os itens verticalmente */
  height: 100vh;
  /* Preenche a altura total da viewport */
  margin-top: 28px;
  padding: 0;
  position: relative;
  /* Permite posicionamento absoluto dos filhos */
}


.boss button {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 13px;
  border: none;
  /* Remove a borda padrão */
  border-radius: 1.5rem;
  /* Borda arredondada */
  background-color: #c07d01d3;
  /* Cor de fundo do botão */
  color: #FAFBFB;
  /* Cor do texto do botão */
  cursor: pointer;
  /* Muda o cursor para indicar que é clicável */
  height: 30px;
  width: 130px;
  margin-bottom: 10px;
  transition: all 0.3s ease;
  /* Adiciona uma transição suave */
  margin: 10px; /* Espaçamento entre os botões */
  flex: 1; /* Faz com que os botões ocupem o espaço disponível */
  max-width: 200px; /* Define uma largura máxima para os botões */
}
.boss-container {
  display: flex;
  flex-wrap: wrap; /* Permite que os botões quebrem para a próxima linha */
  justify-content: center; /* Centraliza os botões horizontalmente */
}

.boss button:hover {
  background-color: #c07d01d3;
  transform: scale(1.05);
}


.resultados-pesquisa {
  position: center;
  width: 60rem; /* Largura máxima da caixa de resultados */
  height: 46vh; /* Altura máxima da caixa de resultados */
  overflow-y: auto; /* Adiciona rolagem vertical se necessário */
  margin-top: 1rem; /* Espaçamento acima da caixa de resultados */
  padding: 4rem; /* Espaçamento interno */
  border-radius: 0.6rem; /* Borda arredondada */
}

/* Estiliza as seções da página */
section {
  display: flex; /* Usa Flexbox para layout */
  flex-direction: column; /* Alinha os itens na vertical */
  align-items: center; /* Centraliza os itens horizontalmente */
  margin-top: 40px;
}

/* Estiliza cada item de resultado */
.item-resultado {
  display: flex;
  align-items: center;
  background: #EBF5F5; /* Cor de fundo dos itens */
  border-radius: 0.6rem; /* Borda arredondada */
  padding: 1rem; /* Espaçamento interno */
  margin-bottom: 1rem; /* Espaçamento abaixo dos itens */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

.item-resultado img {
  width: 150px;
  margin-right: 20px;
  border-radius: 1rem;
}

.item-resultado div {
  display: flex;
  flex-direction: column;
}

.item-resultado div .links {
  display: inline
}

/* Estiliza os títulos dentro dos itens de resultado */
.item-resultado h3 {
  font-size: 1.5rem; /* Tamanho da fonte */
  color:  #c07d01d3; /* Cor do texto ?nao muda*/
  margin: 0;
}

/* Estiliza a descrição meta dentro dos itens de resultado */
.descricao-meta {
  color: #000000; /* Cor do texto */
  margin: 0.5rem 0; /* Margem acima e abaixo */
}


/* Estiliza o rodapé da página */
footer {
  font-family: "Poppins", sans-serif;
  /* Define a fonte padrão */
  background-color: #c07d01d3;
  /* Cor de fundo do rodapé */
  color: #F4F0E5;
  /* Cor do texto */
  text-align: center;
  padding: 0;
  /* Espaçamento interno */
  width: 100%;
  /* Largura total da página */
  height: 40px;
  position: fixed;
  bottom: 0;
  /* Alinha ao fundo da página */
  font-size: 1rem;
  /* Tamanho da fonte */
  line-height: 0.5;
  align-items: center;
}